<p id="notice"><%= notice %></p>

<h1>Presentations</h1>

<table>
  <thead>
    <tr>
      <th>Presentation_id</th>
      <th>Video_thumbnail</th>
      <th>User_id</th>
      <th>Category</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presentations.each do |presentation| %>
      <tr>
        <td><%= presentation.id %></td>
        <td align="center">
          <% if presentation.video.present? %>
            <img src= <%= presentation.video.video.url(:thumb) %> width="100" height="100">
          <% else %>
            이미지 없음
          <% end %> 
          
        </td>
        <td><%= presentation.user.user_id %></td>
        <td><%= CommonCode.find_by_category(presentation.category_id).first.name_korean %></td>
        <td><%= presentation.title %></td>
        <td><%= presentation.subtitle %></td>
        <td><%= presentation.content %></td>
        <td><%= link_to 'Show', presentation %></td>
        <td><%= link_to 'Edit', edit_presentation_path(presentation) %></td>
        <td><%= link_to 'Destroy', presentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Presentation', new_presentation_path %>
