<%= form_for @user, html: { multipart: true } do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %>
    <%= file_field_tag :image %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_area :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_area :password %>
  </div>

  <div class="field">
    <%= f.label :fullname %>
    <%= f.text_area :fullname %>
  </div>

  <div class="field">
    <%= f.label :team_id %>
    <% options = options_from_collection_for_select(@team, 'common_code_detail_id', 'name_korean') %>
    <%= f.select :team_id,  options %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
